/build/
/.gradle/
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/Address.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/AuthHeaderType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/DealComments.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/ErrorFieldsType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/ErrorsListType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/FlagListType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/FlagType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/LienHolder.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/ObjectFactory.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/Party.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/Registration.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/Title.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/Vehicle.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/coreelements/package-info.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/electroniclieninquiry/EltInquiryRequest.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/electroniclieninquiry/EltInquiryResponse.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/electroniclieninquiry/InquiryHeaderType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/electroniclieninquiry/LienType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/electroniclieninquiry/ObjectFactory.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/electroniclieninquiry/PTAs.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/electroniclieninquiry/package-info.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/CommentsType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/LienHolderType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/ObjectFactory.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/OwnersType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/PrimaryOwnerType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/RegistrationType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/SalesType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/SecondaryOwnerType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/TitleType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/VehicleInquiryRequest.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/VehicleInquiryResponse.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/VehicleType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/inquiries/vehicleinquiry/package-info.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/AddressType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/AuthHeaderType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/ErrorFieldsType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/ErrorsListType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/FlagListType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/LienHolderType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/LienHolderWithCodesType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/ObjectFactory.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/OwnerListType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/OwnerType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/PMTaxesAndFeesType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/PrimaryOwnerType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/RegistrationForTitleRegTransResponseType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/RegistrationType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/SaleInfoTitleRegTranResponseType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/SaleInfoType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/SaleResponseType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/SecondaryOwnerType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/StateTaxesAndFeesType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/TaxesAndFeesForTitleRegTranResponseType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/TaxesAndFeesType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/TitleType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/TransVehicleType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/VehicleForTitleRegTransResponseType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/commonelements/package-info.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/ObjectFactory.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/RegistrationForTitleRegTransRequestType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/SaleForTitleRegTransRequestType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/SaleInfoForTitleRegTranRequestType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/TaxesAndFeesForTitleRegTranRequestType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/TitleForTitleRegTransRequestType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/TitleRegRequest.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/TitleRegResponse.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/TitleRegResponseType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/TitleRegTransactionType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/VehicleForTitleRegTransRequestType.java
/build/generated-sources/jaxb/com/dt/rts/ladmv/services/transaction/titleregtransaction/package-info.java
